app = "backend-summer-dawn-9746"
primary_region = "fra"

[build]

[processes]
  app = "uvicorn main:app --host 0.0.0.0 --port 8000"

[http_service]
  internal_port = 8000
  force_https = true

  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"

[mounts]
  source = "axis_data"
  destination = "/data"
